.footer {
  position: absolute;
  bottom: -12.8rem;
  padding-bottom: 6.4rem;
  width: 27.5rem;
  left: 5rem;
  right: 5rem;
  @media (min-width: 71em) {
    width: 35rem;
    left: 40rem;
    right: 40rem;
  }
  .footer__attribution {
    font-size: 11px;
    text-align: center;
  }
  .footer__link {
    color: hsl(228, 45%, 44%);
  }
}
